<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SLNVideoRecordDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D8B360B71E83A01A001F1AEA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D8B360D01E83A01B001F1AEA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D8B360DB1E83A01B001F1AEA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
